body {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0
}

/* Header Stuff Here*/

header {
    background-color: #eaeaea;
    padding: 1rem 2vw;
}
header h1 {
    margin: 0;
    color: #024873;
}
header h2 {
    margin: 0;
    color: #024873;
    letter-spacing: .5px;
}
