body {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/* Header Stuff Here*/

header h1{
    background-color: blue;
    padding: 1rem 2vw;
    margin: 0;
    color: #024873;
}
header h2 {
    margin: 0;
    color: #024873;
    letter-spacing: .5px;
}
